.header {
    display: flex;
    flex-direction: column;
    width: 97%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
    /* border: 2px solid white; */
  }

 
  .buttons {
    display: flex;
    align-items: center;
    width: 100%;
    color: blue;
  }
  
  button {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
   border-radius: 2rem;
    width: 50%;
  }
  
  button.active {
    background-color: #1da1f2;
    color: white;
    text-decoration: underline;
   
  }
  