

.sidebar {
  height: 100vh;
  /* position: fixed; */
  /* width: 20px; */
  /* border: 2px solid white; */
}

.options {
  list-style-type: none;
  margin-top: 1rem;
  height: 100vh;
  border: 1ps solid white;
}

.option {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border: 1ps solid white;
}
.btn{
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  left: 10%;
}