

.sidebar {
  height: 100vh;
  /* position: fixed; */
  /* width: 20px; */
  /* border: 2px solid white; */
}

.options {
  list-style-type: none;
  margin-top: 1rem;
  height: 100vh;
  border: 1ps solid white;
}

.option {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border: 1ps solid white;
}
.btn{
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  left: 10%;
}
.postTweet{
  display: flex;
  margin-top: 10px;
  width: 100%;
  margin-left: 10px;
  /* padding: 0px; */
}
.avatar {

  height:50px;
  width: 50px;
}
.tweetInput{
  width: 80%;
}

.tweetInput input{
  /* background-color: #f5f8fa; */
  border-radius: 9999px;
  border: none;
  padding: 12px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 16px;
}
.btn{
  width: 100%;
  margin-left: 90px;
}
.Btns{
  display: flex;
  width: 100%;
}
.btn1{
  /* border: 1px solid black; */
  display: flex;
  width: 16%;
  margin-top: 10px;
  margin-left: 76px;
  cursor: pointer;
}
.btn2{
  cursor: pointer;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-left:290px;
  text-align: center;
}
.lastBtn{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.lastBtn:hover{
  background-color: #f6f3f3;
}